#box{
  height: auto;
  position: absolute;
  top:20px;
  margin: auto;
}

.divInBox{
  margin: 10px 0 0 0;
  position: relative;
}

.txtCommon{
  margin: 2px 0 0 0;
  width: 100%;
  overflow: scroll;
  resize: none;
  overflow-y: scroll;
  overflow-x: scroll;
  overflow:-moz-scrollbars-vertical;
}

#textArticle{
  height: 320px;
}

.summaryText{
  height: 100px;
}

body {
	background:url('../images/05.jpg') no-repeat 0px 0px;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
    background-position: center;
}
.tab-ul {
    width: 100%;
}

.labelCommon{
    font-size: 18px;
    color: #fff;
}
.whiteFont{
    color: #fff !important;
}
.align-right {
    float: right;
}

.btnCommon {
    margin: 0 10px 5px 0;
    letter-spacing: 1px;
}

.btnText{
    padding: 0 3px 0 3px;
}

.alert-ele{
    width:40%;
    height:10px;
}

.textInfo{
    color: #ffc107;
    margin: 0 0 15px 0;
}