#box{
  height: auto;
  position: absolute;
  top:20px;
  margin: auto;
}

.divInBox{
  margin: 10px 0 0 0;
  position: relative;
}

.txtCommon{
  margin: 2px 0 0 0;
  width: 100%;
  overflow: scroll;
  resize: none;
  overflow-y: scroll;
  overflow-x: scroll;
  overflow:-moz-scrollbars-vertical;
}

#textArticle{
  height: 300px;
}

.summaryText{
  height: 80px;
}

body {
	background:url('../images/05.jpg') no-repeat 0px 0px;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
    background-position: center;
}
.tab-ul {
    width: 100%;
}

.labelCommon{
    font-size: 18px;
    color: #fff;
}
.whiteFont{
    color: #fff !important;
}
.align-right {
    float: right;
}

.btnCommon {
    margin: 0 10px 5px 0;
    letter-spacing: 1px;
}

.btnText{
    padding: 0 2px 0 2px;
}

.alert-ele{
    width:40%;
    height:10px;
}

.textInfo{
    color: #ffc107;
    margin-bottom: 15px;
}

.textSugg{
    color: #ffc107;
    margin: 0 0 5px 25px !important;
}

#fileListDisplay{
    height: 480px;
    border-style: solid;
    background-color: #fff;
    padding: 10px 0 10px 0;
    margin: 0 25px 25px 0px;
    overflow-y: scroll;
}

.list-row {
    margin-right: 15px;
    margin-left: 15px;
}

#fileList {
    padding-left: 0px;
}
/* style for fancy check box*/
.text-list{
    margin-top: 5px;
}
.btn-success, .btn-info {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}
.btn i.fa {
    position: absolute;
    left: 8px;
}
.btn i.fa {
	opacity: 0;
}
.btn.active i.fa {
	opacity: 1;
}
/* style for fancy check box*/